body{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283048, #859398 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#283048, #859398); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;

}

.formulario{
    width: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.card{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 2em 2em 1em;
    border-radius: 10px;
}

.datos{
	padding-left: 10px !important;
}

.table{
	border-radius: 10px;
}

.maquinas{
    margin-top: 20px;
}